/* regole CSS generali*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular", serif;
}

/* header */

#navbarToggleExternalContent.collapse {
  background-color: black !important;
}

.navbar {
  background-color: black !important;
}

.menuList,
.listMusic {
  background-color: black;
  list-style-type: none;
}

.menuList i {
  margin-right: 1rem;
  padding: 5px;
  border-radius: 5px;
}

.menuList li {
  margin: 1rem 0;
}

.overflow-auto {
  height: 85vh;
  background-color: black !important;
}

.bi-plus-lg {
  color: black;
}

.bi-heart-fill {
  background: linear-gradient(#3a19a9, #7e9499);
}

.bi-bookmark-fill {
  background-color: #1d4637;
  color: #4b9743;
}

/*----main----*/

main {
  background: linear-gradient(#212121, #101010);
}

/*main section - buonasera*/

.buonaseraCards img {
  height: fit-content;
  width: fit-content;
}

.buonaseraCards .card {
  background-color: #2e2e2e;
  color: white;
}

aside {
  background-color: black;
}

#amici {
  font-size: 10px;
}

#amici h5 {
  font-size: 10px;
  margin: 0;
}

#amici p {
  margin: 0;
}

#amici p small {
  font-size: 8px;
}

/*------ FOOTER ------*/
footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: gray;
}
.startstop {
  padding: 10px;
}
.startstop img {
  width: 80px;
}
.startstoptesto {
  width: 150px;
  align-content: center;
}
.startstoptesto p {
  margin-bottom: 0%;
}
.biSuitHeart svg {
  align-items: center;
}

.barraMusica{
  width: 500px;
  align-items: center;
justify-content: center;
}
#seekBar{
  width: 300px;
  align-self: stretch;
}
/*---Album Section ----*/
#albumSection p,
#albumSection h1 {
  color: white;
}

#albumSection {
  background-image: linear-gradient(to right, rgb(37, 37, 37), rgb(66, 66, 66));
}

.userSelect {
  border: 1px solid transparent;
}

.userSelect:hover {
  border: 1px solid white;
  cursor: pointer;
}
